body {
  height: 100%;
  background: rgb(17, 126, 175);
  background: -webkit-linear-gradient(90deg, rgb(17, 126, 175) 0%, #3811af 46.19047619047619%, rgb(213, 33, 20) 100%) #1a1a1a;
  background:    -moz-linear-gradient(90deg, rgb(17, 126, 175) 0%, #3811af 46.19047619047619%, rgb(213, 33, 20) 100%) #1a1a1a;
  background:      -o-linear-gradient(90deg, rgb(17, 126, 175) 0%, #3811af 46.19047619047619%, rgb(213, 33, 20) 100%) #1a1a1a;
  background:     -ms-linear-gradient(90deg, rgb(17, 126, 175) 0%, #3811af 46.19047619047619%, rgb(213, 33, 20) 100%) #1a1a1a;
  background:         linear-gradient(360deg, rgb(17, 126, 175) 0%, #3811af 46.19047619047619%, rgb(213, 33, 20) 100%) #1a1a1a;
  background-repeat: repeat-x;
  background-size: 100% 160%;
  font: 400 2.25em/1.38 Helvetica;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.blixt {
  width: 26.5555555555%;
  min-width: 255px;
  min-height: 69px;
  margin: 7px auto 0;
  font-style: normal;
  font-size: 1.944em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  text-decoration: none;
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
}

.blog {
  display: block;
  width: 20.3888888888%;
  margin: 0 auto;
  font-size: 1.333em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 8px;
  color: rgb(255, 255, 255);
}

.broughtoyouby {
  width: 40.7222222222%;
  min-height: 70px;
  margin: 2115px auto 0;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container {
  width: 27.1666666666%;
  margin: 0 auto;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.contentoverchrome {
  width: 40.7222222222%;
  min-height: 70px;
  margin: 0 auto;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.foradn {
  width: 26.5555555555%;
  min-width: 255px;
  min-height: 32px;
  margin: 0 auto;
  font-style: normal;
  font-size: 0.556em;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.62);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}

.image {
  display: block;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.phone {
  display: block;
  width: 759px;
  min-width: 320px;
  max-width: 759px;
  height: auto;
  margin: 550px auto 0;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.bryanjclark,
.strike {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.presskit,
.support {
  display: block;
  width: 20.3888888888%;
  margin: 40px auto 0;
  font-size: 1.333em;
  font-weight: 700;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 8px;
  color: rgb(255, 255, 255);
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

._container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._image {
  width: 256px;
}

.container-1 {
  height: 190px;
}

.container-2 {
  height: 180px;
}

.image-2 {
  width: 254px;
}

._container-1 {
  height: 256px;
  margin-top: 460px;
}

._container-2 {
  height: 250px;
  margin-top: 20px;
}

._container-3 {
  height: 250px;
  margin-top: 40px;
}

._container-4 {
  height: 86px;
  margin-top: 710px;
}

@media(max-width: 1540px) {
  .blog {
    width: 41.1038961038%;
  }

  .broughtoyouby {
    width: 68.3116883116%;
    margin-top: 2325px;
  }

  .presskit {
    width: 27.1428571428%;
  }

  .support {
    width: 40.8441558441%;
  }

  .container-1 {
    height: 70px;
  }

  .container-2 {
    height: 60px;
  }

  ._container .blixt-1 {
    width: 39.6753246753%;
  }

  ._container .contentoverchrome-1 {
    width: 68.3116883116%;
  }

  ._container .foradn-1 {
    width: 39.9999999999%;
  }

  ._container .bryanjclark-1,
  ._container .image-1,
  ._container .image-2,
  ._container .strike-1 {
    height: auto;
  }

  ._container .phone-1 {
    height: auto;
    margin-top: 760px;
  }

  ._container-1 {
    margin-top: 250px;
  }

  ._container-4 {
    margin-top: 578px;
  }
}

@media(max-width: 1280px) {
  body {
    font-size: 2.25em;
  }

  .broughtoyouby {
    margin-top: 2347px;
  }

  .presskit {
    width: 69.7183098591%;
  }

  .support {
    width: 52.63671875%;
  }

  ._container .bryanjclark-1,
  ._container .image-1,
  ._container .image-2,
  ._container .phone-1,
  ._container .strike-1 {
    height: auto;
  }

  ._container-1 {
    margin-top: 100px;
  }
}

@media(max-width: 1024px) {
  .broughtoyouby {
    margin-top: 1800px;
  }

  .presskit {
    width: 40.8203125%;
  }

  .container-2 {
    height: 96px;
  }

  ._container .bryanjclark-1,
  ._container .image-1,
  ._container .image-2,
  ._container .strike-1 {
    height: auto;
  }

  ._container .phone-1 {
    height: auto;
    margin-top: 550px;
  }

  ._container-1 {
    margin-top: 140px;
  }
}

@media(max-width: 960px) {
  body {
    font-size: 2.25em;
  }

  .broughtoyouby {
    margin-top: 2347px;
  }

  .presskit {
    width: 46.0416666666%;
  }

  ._container .bryanjclark-1,
  ._container .image-1,
  ._container .image-2,
  ._container .phone-1,
  ._container .strike-1 {
    height: auto;
  }

  ._container-1 {
    margin-top: 250px;
  }
}

@media(max-width: 568px) {
  .presskit {
    width: 69.7183098591%;
    font-size: 0.833em;
  }

  .blog,
  .support {
    font-size: 0.833em;
  }

  ._container .blixt-1 {
    width: 39.7887323943%;
  }

  ._container .bryanjclark-1,
  ._container .image-1,
  ._container .image-2,
  ._container .strike-1 {
    height: auto;
  }

  ._container .phone-1 {
    width: 640px;
    height: auto;
  }

  ._container-1 {
    margin-top: 100px;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 2.25em;
  }

  .blog {
    width: 76.5625%;
  }

  .broughtoyouby {
    width: 79.6875%;
    margin-top: 978px;
    font-size: 0.833em;
  }

  .container {
    width: 80.3125%;
  }

  .presskit {
    width: 90.9375%;
  }

  .support {
    width: 95.9375%;
  }

  .container-1 {
    height: 41px;
    margin-top: 334px;
  }

  .container-2 {
    height: 29px;
    margin-top: 26px;
  }

  ._container .blixt-1 {
    width: 79.6875%;
    min-height: nonepx;
    margin-top: 16px;
  }

  ._container .contentoverchrome-1 {
    width: 79.6875%;
  }

  ._container .foradn-1 {
    width: 80%;
  }

  ._container .image-1 {
    height: auto;
  }

  ._container .image-2 {
    width: 247px;
    height: auto;
  }

  ._container .phone-1 {
    width: 320px;
    height: auto;
    margin-top: 250px;
  }

  ._container .bryanjclark-1,
  ._container .strike-1 {
    width: 170px;
    height: auto;
  }

  ._container-1 {
    margin-top: 40px;
  }

  ._container-2,
  ._container-3 {
    height: 170px;
  }

  ._container-4 {
    float: left;
    clear: both;
    height: 84px;
    margin-top: 250px;
    margin-right: 0;
    margin-left: 0;
  }
}
